header{
    border: 2px solid;
    background-color:rgb(255, 255, 51);
    font-style: verdana, arial;
    
}

a{
    border: 2px solid;
    background-color: rgb(212, 212, 212);
}

body{
    background-color: rgb(255, 255, 137);
}

p{
    border: 2px solid;
    background-color: rgb(255, 165, 165);
}