/*media querries*/

@media (min-width: 400px) { 
  body {
    font-size: 10px;
  }
  nav a:first-child {
    margin-left: 140px;
  }
  nav a {
    font-size: 8px;
  }
  header :first-child {
    margin-left: 140px;
  }
  body p {
    margin-right: 520px;
  }
  body .login-area {
    margin-left: 100px;
  }
  ul {
    text-align: left;
  }
  body .boximage{
    flex-direction: column;

  }
  
  figure {
    max-width: 275px;
  }

  body table{
    width: 500px;
  }

}

@media (min-width: 600px) { 
  body {
    font-size: 12px;
  }
  nav a:first-child {
    margin-left: 150px;
  }
  nav a {
    font-size: 12px;
  }
  header :first-child {
    margin-left: 170px;
  }
  body p {
    margin-right: 300px;
  }
  body .login-area {
    margin-left: 100px;
  }
  body table {
    width: 700px;
  
  }


}

@media (min-width: 992px) { 
  body {
    font-size: 14px;
  }
  nav a:first-child {
    margin-left: 200px;
  }
  nav a {
    font-size: 12px;
  }
  header :first-child {
    margin-left: 170px;
  }
  header{
    justify-content: center;
  }
  body p {
    margin-right: auto;
  }
  body .login-area {
    margin-left: auto;
  }
  ul {
    text-align: center;
  }
  body .boximage{
    flex-direction: row;

  }
  figure {
    max-width: 275px;
  }
  body table {
    width: auto;
  }

}



/*fonts*/
@font-face {
  font-family: "Pokemon Hollow";
  src: url("fonts/Pokemon\ Hollow.ttf");
}

@font-face {
  font-family: "Pokemon Solid";
  src: url("fonts/Pokemon\ Solid.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito.ttf");
}


/* header et footer, body et p*/
header{
  background-color: rgb(33, 166, 255);
  font-family: Nunito, sans-serif, Verdana;
  padding: 20px;
  margin: 25px 0px;
  border-collapse: collapse;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center; 
}

header img {
  width: 75px; 
  height: auto;
}

footer{
  background-color: rgb(33, 166, 255);
  font-family: Nunito, sans-serif, Verdana;
  padding: 20px;
  margin: 50px 0px;
  border-collapse: collapse;
  letter-spacing: 1px;
  text-align: center;
  bottom: 0;
}

body{
  background-color: rgb(248, 248, 235);
  font-family: Nunito, sans-serif, Verdana;
  border-collapse: collapse;
  letter-spacing: 1px;
  min-width: 1000px;
}

p {
  background-color: rgb(202, 223, 231);
  font-family: Nunito, sans-serif, Verdana;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}


p:hover {
  background-color: rgb(142, 209, 234);
}

/* h tags */
h1{
  font-family: Pokemon Hollow, sans-serif, Verdana;
  border-collapse: collapse;
  letter-spacing: 3px;
  font-size: 50px;
  text-decoration: none;
}

h2{
  font-family: Nunito, sans-serif, Verdana;
  padding: 10px;
  background-color: rgb(206, 221, 248);
  border-collapse: collapse;
  letter-spacing: 1px;
  text-decoration: none;
}

h3{
  font-family: Nunito, sans-serif, Verdana;
  padding: 10px;
  background-color: rgb(122, 160, 241);
  border-collapse: collapse;
  letter-spacing: 1px;
  text-decoration: none;
}

h4{
  font-family: Nunito, sans-serif, Verdana;
  padding: 10px;
  background-color: rgb(85, 112, 170);
  letter-spacing: 1px;
  text-decoration: none;
  width: 100%;
}

h2, h3, h4 {
  transition: transform 0.3s ease-in-out;
}

h2:hover, h3:hover, h4:hover {
  transform: translateX(10px);
}













/* nav */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 15px;
    overflow: hidden;
    background-image: url("images/bar.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    
}

nav a{
    padding: 10px;
    font-family: Pokemon Solid, Nunito, sans-serif, Verdana;
    margin-right: 1px;
    border-radius: 4px;
    background-color: rgb(168, 204, 238);
}

nav a:hover {
  background-color: #ddd;
  color: black;
}


nav a.active {
  background-color: #0e89a7;
  color: rgb(0, 0, 0);
}

a{

    background-color: rgb(212, 212, 212);
    font-family: Nunito, sans-serif, Verdana;
    border-collapse: collapse;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.lien-externe{
  font-style: italic;
  text-decoration: underline;
}







/* table */
table {
    border-collapse: collapse;
    letter-spacing: 1px;
    border: 1px solid rgb(26, 24, 24);
    font-family: sans-serif, Verdana;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(86, 136, 211);
  }
  
  th,
  td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 10px;
  }
  
  td {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(247, 234, 176);
  }

  tbody > tr:nth-of-type(even):hover {
    background-color: rgb(243, 215, 92);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }



/* flexbox, figure et image */
  .boxtype{
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center;
    
    flex-grow: 1;
    flex-shrink: 1;
    
  }

  .boximage{
    background-color: rgb(187, 186, 186);
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap; 
    flex-direction:row;
    justify-content: space-evenly;
    
    flex-grow: 1;
    flex-shrink: 1;
    
  }



  .boxtab{
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-evenly;
    
    flex-grow: 1;
    flex-shrink: 1;
    
  }


  figure{
    background-color: rgb(145, 142, 142);
    padding: 10px;
    border-radius: 1px;
    border: thick double #000000;
  }

.salameche{
  background-color: rgb(251, 186, 116);
  transition: transform 0.3s ease-in-out;
}

.salameche:hover{
  transform: scale(1.1);
}

.carapuce{
  background-color: rgb(152, 214, 214);
  transition: transform 0.3s ease-in-out;
}

.carapuce:hover{
  transform: scale(1.1);
}

.bulbizarre{
  background-color: rgb(140, 247, 140);
  transition: transform 0.3s ease-in-out;
}

.bulbizarre:hover{
  transform: scale(1.1);
}

.evoli{
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
}

.evoli:hover{
  transform: scale(1.1);
}

.pikachu{
  background-color: rgb(234, 234, 92);
  transition: transform 0.3s ease-in-out;
}

.pikachu:hover{
  transform: scale(1.1);
}

.manga{
  background-color: rgb(244, 89, 89);
  width: 200px;
  height: 335px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.manga:hover{
  transform: scale(1.1);
}

.mangaimg{
  width: 200px;
  height: 300px;

}

.gameboy{
  background-color: rgb(244, 89, 89);
  text-align: center;
  width: 100%;
  height: auto;
}
.gameboycolor{
  background-color: rgb(244, 89, 89);
  text-align: center;
  width: 100%;
  height: 50%;
}
.ds{
  background-color: rgb(244, 89, 89);
  text-align: center;
  width: 100%;
  height: auto;
}

.tds{
  background-color: rgb(244, 89, 89);
  text-align: center;
  width: 100%;
  height: auto;

}
.switch{
  background-color: rgb(244, 89, 89);
  text-align: center;
  width: 100%;
  height: auto;
}

.consoleimg{
  height: 50%;
}


img.consoleimg {
  max-width: 40%;
  height: auto;
}




/* formulaire */
.login-area {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}


.login-area label {
  display: block;
  margin-top: 10px;
}

.login-area input[type="email"],
.login-area input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
}

.login-area input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #fae13c;
  border: none;
  color: #000;
  cursor: pointer;
}